<!doctype html>
<html lang="en" data-bs-theme="dark">
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
        <section class="mt-5 p-1">
        <table class="table table-sm table-striped">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Number of Tracks</th>
          </tr>
          <% playlists.forEach(function(p) { %>
            <tr>
              <td><%- p.name %></td>
              <td class="overflow-hidden"><%- p.description %></td>
              <td><%- p.trackCount %></td>
            </tr>
          <% }) %>
        </table>
      </section>
        <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>