<!doctype html>
<html lang="en" data-bs-theme="dark">
  <%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <section class="mt-5 p-1">
        <table class="table table-sm table-striped">
          <tr>
            <th>Name</th>
            <th>Artists</th>
            <th>Duration</th>
          </tr>
          <% tracks.forEach(function(t) { %>
            <tr>
              <td><%- t.name %></td>
              <td><%- t.artists %></td>
              <td><%- t.duration_ms %></td>
            </tr>
          <% }) %>
        </table>
      </section>
        <%- include('./partials/_footer'); %>
    </div>
  </body>
</html>